<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="finnHubUrl" value="wss://ws.finnhub.io"/>
    <add key="finnHubToken" value="brtr40nrh5r9gcjm1mjg"/>
  </appSettings>
  <connectionStrings>
    <add name="RealtimeStockDb" connectionString="Server=DESKTOP-E1IC06C;Database=RealtimeStock;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>